#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 1em 2em;
	margin: 0.5em 1.5em;
}

.highlight {
	/* background-image: linear-gradient(to right, #f27121cc, #e94057cc, #8a2387cc); */
	background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
	border-radius: 5px;
	padding: 0px 5px 3px;
	transition: background-position 0.5s;
	background-size: 200% auto;
	transform: rotate(2deg);
	display: inline-block;
	cursor: pointer;
}

.highlight:hover {
	transition: background-position 0.5s 0.25s;
	background-position: right center;
}
